################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Dotnet.Desktop.Apps/Console.ProgressBar/bin/Debug/net6.0
/Dotnet.Desktop.Apps/Console.ProgressBar/obj
/Dotnet.Desktop.Apps/BL.Inventory/obj
/Dotnet.Desktop.Apps/Console.Inventory/obj
